name: codebox-app

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ../backend/.env
    volumes:
      - ../backend/app:/app/app
    depends_on:
      - mongodb
      - redis
    networks:
      - codebox-net

  web:
    build:
      context: ../web
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "5001:5000"
    env_file:
      - ../web/.env
    volumes:
      - ../web/app:/app/app
    depends_on:
      - backend
    networks:
      - codebox-net

  worker:
    build:
      context: ../worker
      dockerfile: Dockerfile
    container_name: worker
    env_file:
      - ../worker/.env
    volumes:
      - ../worker/app:/app/app
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - mongodb
      - redis
    networks:
      - codebox-net

